:root{
    --color-bg-1: #7d7874;
	--color-bg-2: #7a706a;
	--color-bg-3: var(--color-bg-1);
	--color-bg-4: var(--color-bg-2);
	--color-bg-5: var(--color-bg-1);
	--color-bg-6: var(--color-bg-2);
    --page-padding: 1.5rem;
}

.content {
	padding: var(--page-padding);
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.content--sticky {
	width: 100vw;
	position: sticky;
	top: 0;
	--offset: 0px;
	top: var(--offset);
	height: calc(100vh - var(--offset));
}


.content--card {
	display: flex;
	flex-direction: column;
	height: 80vh;
	width: 95vw;
	max-width: 500px;
	aspect-ratio: 0.8;
	top: 10vh;
	margin: auto;
	border-radius: 14px;
	gap: 3vh;
	text-align: center;
	margin-bottom: 5vh;
}

.content--card .content__title {
	font-size: clamp(1.5rem,3vw,3.5rem);
}

.content__img {
	grid-area: content-img;
	width: 50%;
	max-width: 300px;
	height: 35%;
	border-radius: 10px;
}

.content__title {
	grid-area: content-title;
	letter-spacing: -0.095em;
	text-transform: uppercase;
	line-height: 1;
	font-weight: normal;
	font-size: clamp(1rem,6vw,5rem);
	margin: 0;
	font-variation-settings: "slnt" 0, "wdth" 400, "wght" 900, "INKT" 400;
}

.content__text {
	margin: 0;
	max-width: 500px;
	grid-area: content-text;
	text-align: center;
	line-height: 1.5;
	padding: 0 1rem;
	backface-visibility: hidden;
}

.bg-1 { background: var(--color-bg-1); }
.bg-2 { background: var(--color-bg-2); }
.bg-3 { background: var(--color-bg-3); }
.bg-4 { background: var(--color-bg-4); }
.bg-5 { background: var(--color-bg-5); }
.bg-6 { background: var(--color-bg-6); }

@media screen and (min-width: 63em) {
	body {
		--page-padding: 2rem 3rem;
	}
	.content--card {
		width: 50vw;
	}
}