.sticky_content {
  padding: 1.5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 20px;
}

.sticky_content--sticky {
  position: sticky;
  top: 0;
  height: calc(60vh);
}

.sticky_content__img {
  grid-area: sticky_content-img;
  width: 15%;
  height: auto;
}

.sticky_content__title {
  grid-area: sticky_content-title;
  letter-spacing: -0.095em;
  text-transform: uppercase;
  line-height: 1;
  font-weight: normal;
  font-size: 2rem;
  margin: 0;
  margin-bottom: 1rem;
  font-family: Antic;
  font-variation-settings: "slnt" 0, "wdth" 400, "wght" 900, "INKT" 400;
}

.sticky_content__text {
  margin: 0;
  max-width: 500px;
  grid-area: sticky_content-text;
  text-align: center;
  line-height: 1.5;
  padding: 0 1rem;
  backface-visibility: hidden;
}

.bg-1 {
  background: #a7f56f;
}

.bg-2 {
  background: #6fecfa;
}

.bg-3 {
  background: #ffe37c;
}

.bg-4 {
  background: #ff86c9;
}

.bg-5 {
  background: #a7f56f;
}

.bg-6 {
  background: #6fecfa;
}
