@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "lorimer";
  src: url("/fonts/lorimer.otf");
}
@font-face {
  font-family: "spaceare";
  src: url("/fonts/spaceare.ttf");
}

@font-face {
  font-family: "Raleway-bold";
  src: url("/fonts/Raleway-Bold.ttf");
}

@font-face {
  font-family: "Raleway-extra-bold";
  src: url("/fonts/Raleway-ExtraBold.ttf");
}

@font-face {
  font-family: "Raleway-regular";
  src: url("/fonts/Raleway-Regular.ttf");
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  transition: all 0.5 ease;
}

body {
  background: #000000;
  user-select: none;
  margin: 0;
  padding: 0;
}

::-webkit-scrollbar {
  display: none;
}
