@tailwind base;
@tailwind components;
@tailwind utilities;


@font-face {
  font-family: "Monument-bold";
  src: url("/fonts/Monument-Ultrabold.otf");
}

@font-face {
  font-family: "Irish";
  src: url("/fonts/IrishGrover.ttf");
}

@font-face {
  font-family: "Antic";
  src: url("/fonts/AnticDidone-Regular.ttf");
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  transition: all 0.5 ease;
  cursor: none;
}

image {
  cursor: none !important;
}

body {
  background: #000000;
  cursor: none;
  user-select: none;
  margin: 0;
  padding: 0;
}

button {
  cursor: none;
}

::-webkit-scrollbar {
  display: none;
}